@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bree+Serif&family=Fredericka+the+Great&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

/* FONTS CLASSES */

.fred{
  font-family: 'Fredericka the Great', cursive;
}

.bree{
  font-family: 'Bree Serif', serif;
}

.abril{
  font-family: 'Abril Fatface', cursive;
}

.mouse-rat{
  font-family: 'Montserrat', sans-serif;
}

.flexy{
  display: flex;
  justify-content: center;
  align-items: center;
}


.bg-blue{
  background-color: #00b5ad;
}

.bg-inverse{ 
  background-color: rgb(217, 250, 250);
}

.gradient{
  height: 4rem;
  background-image: linear-gradient(#00b5ad,rgb(217, 250, 250));
}

.inverse-gradient{
  height: 4rem;
  background-image: linear-gradient(rgb(217, 250, 250),#00b5ad);
}

